<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Global Chat Web</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/login.css/">
    <script src="/static/js/libs/bootstrap.min.js" ></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

</head>
<body>
    <div>

        <div>
            <h1>Global Chat Web</h1>
            <br>
            <img src="/static/images/icon.png" height="30%" width="30%"/>
            <br>
            <div><a href="/static/login.html">Log in</a></div>
        <div><a href="/static/register.html">Sign up</a></div>
        </div>
        <br>

    </div>
</body>
</html>
